<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>My Website</title>
</head>
<body>
    <h1>이나현</h1>
    <a href="https://github.com/lnahyun">Github</a>
    <input type="text" id="name-input" placeholder="Enter your input here">
    <button onclick="학번()">학번</button>
    <script> 
	function 학번() {
            var nameInput = document.getElementById("name-input").value;
            if (nameInput.trim() == "이나현") {
                alert("22311897");
            } else {
                alert("이름을 입력해주세요.");
            } 
        } 
	</script>
    <img src = "nahyunblog.jpg" width="300" height="200" style="position: absolute; top:200px; left:10px;">

    <a href ="https://blog.naver.com/llnhyun" style="position: absolute; top:165px; left:10px">https://blog.naver.com/llnhyun</a>
</body>
</html>